*{
    box-sizing: border-box;
}

.gridd-container{
    margin-left: 3% ;
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17%; 
    grid-template-rows: 25px 400px 400px 400px;
    grid-gap: 3%;
    height: 100vh;
}
.buttons{
 width: 100%;
 grid-row: 1/2;
 grid-column: 1/4;
 float: left;
 justify-self: start;

}

button{
    margin-top: 20px;
    width: 10%;
}

.sortera{
    width: 100%;
    grid-column: 4/6;
    float: right;
}

.product{
    height: 100%;
    grid-row: 2/3;
    background-color: rgb(226, 226, 226);
}

.row2{
    grid-row: 3/4;

}

.row3{
    grid-row: 4/5;

}